h1 {
        color : blue;
        text-transform: capitalize;
        text-align: right;
    }
p {
        font-size: 50px;
        color: yellow;
        text-align: center;
    }
.red {
        color: rebeccapurple;
    }